# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/health_service/target/
/health_interface/target/
/health_common/target/
/health_backend/target/
